body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #000000;
  color: #ffffff;
  height: 160px;
}

.header-logo {
  float: left;
  font-size: 90px;
  padding: 20px 60px 20px 60px;
}

.main{
  background-color: #ffffe0;
  height: 720px;
}

.greeting{
  padding-top: 0px;
}

.fotter{
  background-color: #000000;
  color: #ffffff;
  height: 60px;
}

.copyright{
 float: right;
 padding-top: 40px;
  color: #ffffff;
}
